<div class="row">
  <div class="col-sm-12 col-md-3">
    <div class="tag-info">
      <p>2016 Festival & Performance Guide</p>
      <span>October 8, 2017</span>
    </div>
  </div>
  <div class="col-sm-12 col-md-3">
    <div class="tag-info">
      <p>Michelangelo: The quest for the sacred and eternal</p>
      <span>October 16, 2017</span>
    </div>
  </div>
  <div class="col-sm-12 col-md-3">
    <div class="tag-info active">
      <p>Grand Hall Music Festival presents James Simon's The Spirit World</p>
      <span>October 25, 2017</span>
    </div>
  </div>
  <div class="col-sm-12 col-md-3">
    <div class="tag-info">
      <p>Robert Blake’s exhibition: An immersive experience through time</p>
      <span>November 1, 2017</span>
    </div>
  </div>
</div>
