<!-- <form [form-group]="formValidate" (ngsubmit)="onSubmit()" id="form-validate" novalidate>
  <div class="form-group">
    <label for="" class="center-block">Name:</label>
    <input type="text" class="form-control" formControlName="name" id="" placeholder="">
  </div>
  <div class="form-group">
    <label for="" class="center-block">Email:</label>
    <input type="text" class="form-control" formControlName="email" id="" placeholder="">
  </div>
  <div class="form-group">
    <label for="" class="center-block">Text:</label>
    <input type="text" class="form-control" formControlName="text" id="" placeholder="">
  </div>
  <button type="submit"
      [disabled]="!contactForm.valid" class="btn btn-success">Save</button>
</form> -->
